.home {
    background-image: url("static_files/images/background.jpg");
}

#legend {
    background-color: #F7CA00;
    position: absolute;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    font-size: 70px;

    margin-left: 200px;
    margin-right: 200px;
    top: 350px;
}

.grey {
    background-color: #D9D9D9;
    height: 100px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}