.navbar {
    height: 300px;
}

.login {
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
}

.search {
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
}

.bi:hover {
    cursor: pointer;
}