{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<nav class="navbar p-4 flex justify-between">
    <a class="login" href="{% url 'home' %}">Log-in / Sign up</a>
    
    <a  class="flex gap-5 items-center" href="{% url 'home' %}">
        <img class="logoImage" src="{% static 'images/logoSemFundo.png' %}" alt="">
    </a>
    
    <a class="search flex gap-2 items-center" href="{% url 'home' %}">Search</a>
</nav>