.home {
    background-image: url("static_files/images/background.jpg");
}

#legend {
    color: white;

    position: absolute;
    background-color: #F7CA00;

    border-radius: 20px;
    text-align: center;

    margin-left: 200px;
    margin-right: 200px;
    top: 500px;

    font-size: 100px;
    font-family: "Arial Black";

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bgLegend {
    border-radius: 20px;
}

.white {
    background-color: white;
    border-radius: 20px;
    height: 1200px;
    top: 30px;

    margin-left: 30px;
    margin-right: 30px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.grey {
    background-color: #D9D9D9;
    border-radius: 20px;

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;

    padding-top: 30px;
    padding-bottom: 30px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.comicbooks {
    margin-top: 50px;
    height: 500px;
}

.comicbookstext {
    color: white;
    background-color: #F7CA00;

    font-family: "Arial Black";
    font-size: 30px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.actionfigures {
    margin-top: 50px;
    height: 500px;
}

.actionfigurestext {
    color: white;
    background-color: #F7CA00;

    font-family: "Arial Black";
    font-size: 30px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact {
    margin-top: 50px;
    height: 300px;
}

.contacttext {
    color: white;
    background-color: #F7CA00;
    font-size: 30px;
    font-family: "Arial Black";
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.boxcontact{
    position: absolute;
    top: 2830px;
    padding-left: 20px;
}

.informationcontact {
    font-family: "Arial Black";
    font-size: 20px;
}

#botao {
    background-color: white;
    position: absolute;
    top: 110px;
    left: 1445px;
    font-size:25px;

    border-radius: 20px;
}

.textfield{
    border-radius: 20px;
    background-color: #D9D9D9;
    width: 500px;
}








