.navbar {
    height: 300px;
    position: relative;
}

.login {
    color: black;
    background-color: white;

    position: absolute;
    top: -10px;
    left: -15px;

    padding: 10px;
    border-bottom-right-radius: 20px;

    font-size: 20px;
    font-family: "Arial Black";
    text-decoration: none;
}

.logoImage {
    position: absolute;
    top: -10px;
    right: 450px;
    height: 300px;
}

.search {
    color: black;
    background-color: white;

    position: absolute;
    right: -10px;
    top: -10px;

    padding: 10px;
    border-bottom-left-radius: 20px;

    font-size: 20px;
    font-family: "Arial Black";
    text-decoration: none;
}

.bi:hover {
    cursor: pointer;
}