{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extraHead %}

{% block mainContent %}
    <div class="w-screen h-[calc(100vh-84px)] py-10 relative">

        <div class="grey">
            <div class="white">
                <div id="legend">
                    <span>Unravel the universe, panel by panel!</span>
                </div>

                <img class="bgLegend" src="{% static 'images/bgLegend.png' %}" alt="">
            </div>

            <div class="white comicbooks relative">
                <div class="comicbookstext">
                    Comic Books
                </div>
            </div>

            <div class="white actionfigures relative">
                <div class="actionfigurestext">
                    Action Figures
                </div>
            </div>

            <div class="white contact relative">
                <div class="contacttext">If you have any troubles about our products, feel free to contact us</div>

                <form>

                    <div class="container text-center boxcontact">
                        <div class="row">

                            <div class="col">
                                <label for="name" class="form-label informationcontact">Name</label>
                                <input id="name" type="text" class="form-control textfield" min="0">
                            </div>

                            <div class="col">
                                <label for="email" class="form-label informationcontact">E-mail</label>
                                <input id="email" type="text" class="form-control textfield" min="0">
                            </div>


                            <div class="col">
                                <label for="problem" class="form-label informationcontact">Describe your problem</label>
                                <input id="problem" type="text" class="form-control textfield">
                            </div>

                            <div class="col-1 text-center d-flex justify-content-center align-items-end">
                                <button type="button" id="botao" class="">Enviar</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock mainContent %}